# Power traces analysis

This is just a test before applying on the chips. It uses python rather than C.

## 1. Data Preprocessing

**Read data from csv file**: get data.

In [21]:
import pandas as pd

file_path = "../dataset/grafana_data_export.csv"

data = pd.read_csv(file_path, \
                   error_bad_lines=False, warn_bad_lines=False, \
                   sep=';', thousands=',', \
                   dtype={'Series': 'object', 'Value': 'float'}, \
                   parse_dates=['Time'])

display(data.head())
print("Data shape: {0}".format(data.shape))

                    Series                Time  Value
0  Black and white printer 2018-10-27 16:44:25   3.31
1  Black and white printer 2018-10-27 16:44:25   3.31
2  Black and white printer 2018-10-27 16:44:26   4.29
3  Black and white printer 2018-10-27 16:44:26   4.29
4  Black and white printer 2018-10-27 16:44:27   3.77

Data shape: (1940080, 3)

In [22]:
data.dtypes

Series            object
Time      datetime64[ns]
Value            float64
dtype: object

**Generate training/testing dataset**: divide the whole power traces into small traces with a duration of **k** seconds. The label of these small traces is the corresponding value in **Series**.

In [24]:
k = 10